<a routerLink="components">components</a>
<br>
<a routerLink="databinding">data binding</a>
<br>
<a routerLink="communication">communication between components</a>
<br>
<a routerLink="forms">Forms</a>
<br>
<a routerLink="Api-Communication">Api-Communication</a>
<br>
<a routerLink="Http-API">Api- calls</a>
<br>
<a routerLink="pipes">Pipes</a>
<br>
<a routerLink="directives">Directives</a>
<br>
<a routerLink="observables">Observables</a>
<br>
<a routerLink="ag-Grid">Ag-grid</a>
<router-outlet></router-outlet>


